.con{
    /* background-color: #701717; */
    margin-top: 70px;
    display:block;
}
.list-group-item{
    margin-top: 30px;
    border: none;
}
.barr{
    display: flex;
    position: absolute;
    border-color: #202020;
    border-style: solid;
    border-top: none;
    border-left: none;
    border-right: 1px solid;
    height: 100%;
    
    box-shadow: 10px 0 5px -4px #888;
}
li{
    font-family: 'Courier New', Courier, monospace;
    font-size:x-large;
}
.cont{
    margin-left: 270px;
}