<div class="row mt-4">
    <div class="col-2">
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              Buscar por:
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Categoria</a></li>
              <li><a class="dropdown-item" href="#">Nombre</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </div>
    </div>

    <div class="col-8">
        <div class="input-group mb-3 ">
            <input type="text" class="form-control" placeholder="Ingresa el parametro" aria-label="Recipient's username" aria-describedby="button-addon2">
            <button class="btn btn-outline-secondary" type="button" id="button-addon2">Buscar</button>
          </div>
    </div>
    <div class="col-2"></div>
      
</div>

<table class="table table-dark mt-4" style="width: 1200px;">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Nombre</th>
        <th scope="col">Resumen</th>
        <th scope="col">Autor</th>
        <th scope="col">Editorial</th>
        <th scope="col">Año</th>
        <th scope="col">Imagen</th>
        <th scope="col">Archivos</th>
        <th scope="col">Id_categoria</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </tbody>
  </table>

